h1{
  font-family: Helvetica, sans-serif;
  color: #3F3C3C;
  font-size: medium;
  font-style: normal;
  text-align: left;
  position: relative;
  font-size: 18px;
}

h2{ 
  font-family: Helvetica, sans-serif;
  color: #3F3C3C;
  font-size:small;
  font-style: normal;
  text-align: left;
  position: relative;
  font-size: 18px;

}

.header img{
  border-radius: 50%;
  height: 7%;
  width: 7%;
  position:relative;
  overflow: auto;
  float: left;
}

.header{

}

.text{ font-family: Helvetica, sans-serif;
  color: #3F3C3C;
  font-size:small;
  font-style: normal;
  text-align: left;
  position: relative;
  font-size: 12px;

}

.name{font-family: Helvetica, sans-serif;
  color: #3F3C3C;
  font-size:small;
  font-style: normal;
  text-align: left;
  position: relative;
  font-size: 16px;

}

.home img{border-radius: 50%;
  width: 2%;
  height: 2%;
  display: inline-block;
}